body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    line-height: 1.7;
}

header {
    text-align: center;
    padding: 40px;
    background: rgb(80, 184, 219);
    color: white;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: center;
    background: rgb(146, 206, 226);
    padding: 10px;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background: blue;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background: lightblue;
}

.container {
    padding: 40px;
}


.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}


.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.03);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid blue;
    padding: 12px;
    text-align: left;
}

table th {
    background: rgb(120, 207, 236);
    color: white;
}

table tr:nth-child(even) {
    background: whitesmoke;
}

.media-box {
    display: flex;
    justify-content: center;
}


footer {
    text-align: center;
    padding: 20px;
    background: lightblue;
    color: white;
    margin-top: 40px;
}


@media (max-width: 900px) {
    .grid-2, .grid-3 {
        grid-template-columns: 1fr;
    }

    iframe {
        width: 100%;
    }
}
