* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: whitesmoke;
    color: #333;
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: lightblue;
    color: black;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}


header nav ul li a:hover {
     background-color: darkblue;
    color: white;
}

.h2 {
    text-align: center;
}

#tourist-spots ul li {
    list-style-type: none;
    font-size: 14pt;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section {
    background-color: rgb(240, 240, 190);
    padding: 20px;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(31, 30, 30, 0.2);
    width: 100%;
}

section h2 {
    margin-bottom: 15px;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

img {
    width: 50%;
    max-width: 100%;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(243, 184, 76);
    color: #fff;
    margin-top: 40px;
}
